/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        /* background-color: rgb(220, 180, 19); */
        margin: 0;
        padding: 0;
        width: 100%;        
    }

    section.menu{
        display: flex;
        flex-wrap: wrap;
        background-color: aliceblue;
        padding: 2%;
    }

    div.logo{
        display: flex;
        /* flex-wrap: wrap; */
        /* background-color: aquamarine; */
        width: 40%;
        gap: 3%
    }

    img.logo_img{
        width: 10%;
        height: auto;
        gap: 0px;
        opacity: 0px;
    }

    p.logo_text{
        position: relative;
        top: 4%;
        font-family: Roboto;
        font-size: 222%;
        font-weight: 700;
        line-height: 5%;
        text-align: left;
    }

    img.menu_burger{
        display: none;
    }

    ul.menu_items{
        display: flex;
        position: relative;
        left: 5%; 
        gap: 20%;
        /* text-decoration: none; */
        justify-content: flex-start;
    }  
    li{
        
        list-style: none;
    }

    div.menu_box{
        display: flex;
        /* justify-content: flex-start; */
        /* background-color: red; */
        width: 60%;
    }

    a{text-decoration: none;}

    /* Debut du code de la section 1 */
    section.section1 {
        background-image: url(Patternsstick_banierep2.png), url(banierp2.png);
        background-size: cover;
        background-position: center, center;
        background-repeat: no-repeat;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    p.p2_text_section2{
        font-family: "Roboto";
        font-size: 8vh;
        line-height: 8vh;
        /* border: 1px solid; */
        font-weight: 700;
        color: #274C5B;
        /* margin-bottom: 2%; */
    }

/*Debut du code de la section 2 : celle des deux images*/
    section.section2{
        display: flex;
        /* background-color: #274C5B; */
        width: 100%;
        gap: 2%;
        margin-top: 7%;
        margin-bottom: 7%;
        height: 90vh;
        margin-bottom: 3%;
        /* margin-left: 2.5%; */
        /* margin-right: 2.5%; */
        /* height: 20vh; */
    }
    div.div1_p2_section2{
        width: 50%;
        /* height: 90vh; */

    }
    div.div2_p2_section2{
        width: 50%;
        background-color: #274C5B;
        /* height: 90vh; */
        padding-right: 3%;
    }

/* Debut du code css de la section3 : la section des agrumes */
    section.section3{
        /* position: relative; */
        /* left: 20%; */
        margin-top: 15vh;
        /* display: flex; */
        background-color: #414190;
        width: 100%;
        height: 150vh;
        /* justify-content: center; */
        /* align-items: center; */

            
    }
    div.div1_p2_section3{
        display: flex;
        margin-left: 10%;
        /* justify-content: center; */
        /* align-items: center; */
        width: 80%;
        height: 90vh;
        border: 1px solid;
        gap: 3%;
    }
    div.left_div1_p2_section3{
        width: 50%;
        height: 90vh;
        background-color: #7EB693;
    }
    div.right_div1_p2_section3{
        width: 50%;
        height: 90vh;
        background-color: #b6a27e;
    }
    div.div2_p2_section3{
        display: flex;
        gap: 3%;
        margin-top: 5vh;
        width: 70%;
        height: 50vh;
        background-color: #748891;
        margin-left: 15%;
    }
    div.div1, div.div2, div.div3, div.div4{
        width: 25%;
        height: 45vh;
        border-radius: 5%;
        background-color: #F1F8F4;
    } 

    
 /* Debut du code CSS de la section 4 : la section des cercles */
    section.section4{
        /* align-items: center; */
        width: 100%;
        height: 150vh;
        background-color: #238738;
    }

    div.div1_section4, div.section4_right_div{
        margin-left: 25%;
        width: 50%;
        height: 25vh;
        background-color: rgb(8, 73, 117);
        /* background-image: url(/Organick/images/sect4_left_img.png); */
    }
    div.div2_section4{
        display: flex;
        gap: 4%;
        width: 80%;
        margin-left: 10%;
        height: 125vh;
        background-color: #FFFFFF;
    }
    div.img1_div2_section4, div.img2_div2_section4, div.img3_div2_section4{
        width: 33.33%;
        height: 120vh;
        border-radius: 5%;
        background-color: #7b3886;
    } 

    p.sect4_temoignages{
        /* justify-content: center;
        align-items: center; */
        font-family: Yellowtail;
        font-size: 8vh;
        font-weight: 400;
        /* line-height: 6vh; */
        text-align: left;
        color: #7EB693;
        text-align: center;
    }
    p.sect4_question{
        font-family: Roboto;
        font-size: 10vh;
        font-weight: 800;
        line-height: 10vh;
        text-align: center;
    }

    div.profile_info{
        justify-content: center;
        align-items: center;
        position: relative;
        /* border: 5px solid; */
        width: 23%;
        left: 44%;
    }
    p.text_profile_info{
        font-family: Open Sans;
        font-size: 2.4vh;
        font-weight: 400;
        line-height:4vh;
        text-align: center;
        color: #525C60;
    }
    div.name_div {
        justify-content: center;
        align-items: center;
    }
    p.sect4_name{
        font-family: Roboto;
        font-size: 2.6vh;
        font-weight: 600;
        line-height: 3vh;
        color: #274C5B;
        text-align: center;
    }
    em.sect4_job{
        font-family: Open Sans;
        font-size: 2.4vh;
        font-weight: 400;
        color: #525C60;
    }

    img.photopp{
        /* border: 4px solid; */
        /* justify-content: center; */
        border-radius: 50%;
    }

    div.circles_div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
    }

    div.cercles{
        padding: 2%;
        border: 3px solid #7EB693;
        border-radius: 50%;
        background-color: #F1F1F1;
        width: 18vh;
        height: 18vh;
    }
    p.circle_text{
        font-family: Roboto;
        font-size: 5vh;
        font-weight: 800;
        line-height: 3vh;
        text-align: center;
        color: #274C5B;
    }
    em.circle_other_text{
        font-family: Open Sans;
        font-size: 3vh;
        /* font-style: italic; */
        font-weight: 600;
        /* line-height: 29.77px; */
        /* text-align: center; */
        color: #274C5B;
    }

/*  Debut du Css de la section5 : celle qui contient l'image du champ*/
    section.section5{
        display: flex;
        /* position: relative; */
        margin-top: 4vh;
    }
    div.sect5_img{
        width: 50%;
        position: relative;
    }
    img.sect5_img0{
        height: 75vh;
    }

    div.div_blanc{
        width: 50%;
        height: 75vh;
        background-color: rgb(255, 255, 255);
    }
    .sect5_bloc_text {
        position: absolute;
        top: 50%; 
        left: 70%;
        transform: translate(-50%, -50%);
        width: 40%;
        background-color: rgba(255, 255, 255, 1);
        padding:0% 3% 3% 3%;
        text-align: left;
        border-radius: 5%;
        /* height: 10vh; */
    }
    p.sect5_div1_text{
        font-family: Roboto;
        font-size: 6vh;
        font-weight: 800;
        line-height: 6vh;
        text-align: left;
        color: #274C5B;
    }
    p.sect5_div2_text{
        font-family: Roboto;
        font-size: 2.5vh;
        font-weight: 500;
        /* line-height: 2vh; */
        text-align: left;
        color: #274C5B;
    }
    em.sect5_div2_text_small{
        font-family: Open Sans;
        font-size: 2vh;
        font-weight: 400;
        line-height: 3vh;
        text-align: left;
        font-style: normal;
        color: #525C60;
    }

/* Debut du code css de la section 6 */
    section.section6{
        /* position:relative; */
        display: flex;
        /* border: 1px solid; */
        padding: 5%;
        background-color: #F1F8F4;
        /* gap: 23%; */
    }

    div.div1_section6, div.div2_section6, div.div3_section6{
        position: relative;
        width: 33%;
    }
    div.desc_div_section6{
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #F9F8F8;
        width: 30%;
        height: 6vh;
        border-radius: 8px;
        transform: translate(-50%, -50%);

    }
    img.img_div_sect6{
        width: 100%;
        /* height: 40vh; */
    }
    p.text_desc_div_section6{
        top: 45%;
        font-family: Roboto;
        font-size: 2vh;
        font-weight: 500;
        line-height: 2vh;
        text-align: center;
        color: #274C5B;
        padding: 0%;
    }

/* Debut de code Css de la section 7*/
section.section7{
    padding: 4% 12% 4% 12%;
}

div.div3_section7{
    background-image: url(foot_img.png);
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 35%;
    border-radius: 16px;
    height: 35vh;
}
p.p1_div3_section7{
    padding-left: 2%;
    width: 35%;
    font-family: Roboto;
    font-size: 8vh;
    font-weight: 800;
    line-height: 8vh;
    text-align: left;
    color: white;

}
    
    form{
        display: flex;
        gap: 3%;
        /* width: 50%; */
    }
    .form-container {
            /* background-color: #ffffff; */
            padding: 30px;
            border-radius: 5px;
            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
            /* height: 35vh; */
        }

    .form-group {
            margin-bottom: 20px;
        }

    label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

    input[type="email"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            height: 5vh;
        }

    button[type="submit"] {
            background-color: #274C5B;
            color: white;
            /* padding: 5px 5px; */
            border: none;
            border-radius: 4px;
            cursor: pointer;
            /* width: 10%; */
            height: 5vh;
            box-sizing: border-box;
        }

    button[type="submit"]:hover {
            background-color: #748891;
        }

    /*Debut fde code css de la section 8*/
    section.section8{
        display: flex;
        gap: 5%;
        width: 100%;
    }
    div.div1_section8{
        width: 50%;
        padding-right: 5%;
        border-right: 2px solid #D4D4D4;
    }
    div.div2_section8{
        padding-top: 4%;
        width: 50%;
    }
    p.contact{
        font-family: Roboto;
        font-size: 6vh;
        font-weight: 700;
        line-height: 6vh;
        text-align: right;
        color: #274C5B;
    }
    p.info{
        font-family: Open Sans;
        font-size: 3vh;
        font-weight: 400;
        line-height: 4vh;
        text-align: right;
        color: #525C60;
    }
    span.info_title{
        font-family: Open Sans;
        font-size: 3.5vh;
        font-weight: 700;
        line-height: 5vh;
        text-align: right;
    }
    div.div_hindo{
        color: #525C60;
        font-family: Open Sans;
        font-size: 4vh;
        font-weight: 400;
        line-height: 3vh;
        text-align: left;
        padding-bottom: 5%;
        padding-top: 3%;

    }
    div.div_rs{
        display: flex;
        /* border: 1px solid; */
        padding-top: 3%;
        width: 90%;
        justify-content: left;
        gap: 5%;
        /* align-items: center; */
        /* margin-left: 30.5%; */
    }

    section.copyright_section{
        margin-top: 3% ;
        border-top: 1px solid #D4D4D4;
        padding-top: 2%;
    }
    p.copyright_text{
        text-align: center;
        font-family: Open Sans;
        font-size: 3vh;
        font-weight: 400;
        line-height: 2  vh;
        /* text-align: center; */
    }
    em.bold_txt{
        font-style: normal;
        font-family: Open Sans;
        font-size: 3vh;
        font-weight: 700;
        line-height: 3vh;
        text-align: center;
    }

}

